body {
  font-family: sans-serif;
  margin: auto;
 # max-width: 1280px;
    #background-color: #313236;

}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
  height: 100px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}


a.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3f4245;
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  box-shadow: 1px 5px #999;
  font-family: Arial;
  width:150px;
}

a.button:hover {background-color: #e5a00d}

a.button:active {
  background-color: ##e5a00d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

iframe {
width:100%;
height:1000px;
border: 0;
}