body {
  font-family: sans-serif;
 # margin: auto;
 #max-width: 350px;
    background-color: #313236;

}

a.button {
  display: inline-block;
 padding: 5px 5px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3f4245;
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  box-shadow: 1px 5px #999;
  font-family: Arial;
  width:100px;
}

a.button:hover {background-color: #e5a00d}

a.button:active {
  background-color: ##e5a00d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
